# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# JavaScript, HTML, CSS
[*.{js,html,css}]
indent_style = space
indent_size = 4

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false

# C++ files
[*.{cpp,hpp,cu,cuh,c,h}]
indent_style = space
indent_size = 4

# Python
[*.py]
indent_style = space
indent_size = 4

# CMake
[CMakeLists.txt,*.cmake]
indent_style = space
indent_size = 4

# Shell scripts
[*.sh]
indent_style = space
indent_size = 4

# YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2
